data/beer/Data.csv
data/beer/ItemIndex.csv
data/beer/Rtest.npz
data/beer/Rtrain.npz
data/beer/Rvalid.npz
data/beer/Test.csv
data/beer/Train.csv
data/beer/UserIndex.csv
data/beer/Valid.csv
data/CDsVinyl/Data.csv
data/CDsVinyl/ItemIndex.csv
data/CDsVinyl/Rtest.npz
data/CDsVinyl/Rtrain.npz
data/CDsVinyl/Rvalid.npz
data/CDsVinyl/Test.csv
data/CDsVinyl/Train.csv
data/CDsVinyl/UserIndex.csv
data/CDsVinyl/Valid.csv
data/CDsVinyl/WordIndex.csv
pretrained/
.idea/
